[[source]]
url = "https://pypi.org/simple"
verify_ssl = false
name = "pypi"

[packages]
django = "*"
django-crispy-forms = "*"
crispy-bootstrap5 = "*"
certifi = "*"
python-decouple = "*"
environ = "*"

[dev-packages]

[requires]
python_version = "3.12"
