asgiref==3.8.1
certifi==2024.6.2
crispy-bootstrap5==2024.2
Django==5.0.6
django-crispy-forms==2.2
django-environ==0.11.2
gunicorn==22.0.0
iniconfig==2.0.0
packaging==24.1
pip-system-certs==4.0
pluggy==1.5.0
pytest==8.2.2
pytest-django==4.8.0
python-decouple==3.8
sqlparse==0.5.0
whitenoise==4.1.4
wrapt==1.16.0
