{% extends 'base.html' %}
{% block content %}
<div class="card">
<div class="card-header">
<span class="font-weight-bold">{{ object.title }}</span> &middot;
<span class="text-muted">by {{ object.author }} |
{{ object.date }}</span>
</div>
<div class="card-body">
{{ object.body }}
</div>
<div class="card-footer text-center text-muted">
    <a href="{% url 'article_edit' article.pk %}">Edit</a> | <a href="{% url 'article_delete' article.pk %}">Delete</a> |
    <a href = "{% url 'article_comment' article.pk %}">Add comment</a>
    </div>
{%endblock%}